<div id="about-me" class="container">
    <h2>About Me</h2>
    <hr>
    <div class="row">
        <img id="grad-pic" class="mx-auto mt-2 mb-3" style="height: 350px; width: 350px" src="/images/about/its_a_me.jpg">
    </div>
    <p>Hey, I'm Brendt and I was born and raised in Waipi'o on the island of O'ahu, Hawai'i! I graduated from the University of Hawai'i at Mānoa with a Bachelor of
        Science in Computer Science. Currently I am a Junior Software Developer at RevaComm, specializing in web application development and maintaining and
        developing CI/CD pipelines (Jenkins and Kubernetes platforms).
    </p>
    <p>My languages of choice is JavaScript and Python, but I am proficient with SQL, HTML, and CSS. Recently I have taken an interest towards Docker and containerization 
        (as everyone should be!) and have been applying that knowledge to web applcation deployment via container deployment. Luckily through my work, 
        I have had the privledge to start working with Kubernetes and similar container orchaestration tools (OpenShift, JenkinsX, Rancher) to help develop DevSecOps pipelines.
    </p>
    <h3>But who am I really?</h3>
    <hr>
    <p>Besides programming, I have a wide range of hobbies!</p>
    <p>One of my passions in life is riding motorcycles. Currently I ride a 2017 Yamaha FZ-09 (naked life!). But previously I owned a 2009 Kawasaki ZX6R and a 
        2013 Kawasaki Ninja 300.</p>
    <div class="row">
        <img id="moto-pic" class="mx-auto mt-2 mb-3" src="/images/about/its_a_bike.jpg">
    </div>
    <p>Another one of my favorite hobbies are Rubiks Cubes! I took an interest in them in high school and couldn't put them down (although I haven't taken the time to learn all the PLL algorithms).
        My current fastest time is slow 23.58 seconds.
    </p>
</div>
  